// Заголовки, общие БЄМ блоки и проче...
.button {
    width: rem(288);
    height: rem(61);
    border-radius: 123px;
    line-height: 138%;
    letter-spacing: 0.075em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Exo 2';
    font-weight: 900;
    background: #0083C8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 138%;
    @include adaptiveValue("font-size", 40, 28);
    letter-spacing: 0.075em;
    text-transform: uppercase;
    display: inline-block;
}

.text {
    color: #8E8D8A;
    line-height: 138%;
    font-weight: 400;
    letter-spacing: 0.075em;
}

.swiper-button-prev {
    transition: all 0.5s ease 0s;
    transform: translate(0%, 0%) rotate(-180deg);
    @media (any-hover: hover) {
        &:hover {
            transform: rotate(-180deg) scale(1.2);
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #0083C8;
    img {
        margin: 0 0 0 3px;
    }
}

.swiper-button-next {
    transition: all 0.5s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.2);
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #0083C8;
    img {
        margin: 0 0 0 3px;
    }
}

.swiper-button-disabled {
    opacity: 0.5;
}

//======Form==================================================================================================================================================
.contact {
    &__form-block {
        padding: 0 15px;
        max-width: rem(1430);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        @include adaptiveValue("padding-bottom", 50, 20);
    }
}

.form-block {
    &__image {
        position: relative;
        max-width: 590px;
        max-height: 590px;
        margin: 0 auto;
        @media (min-width: rem(600)) {
            @include adaptiveValue("height", 590, 220, 1400, 600, 1);
            @include adaptiveValue("width", 590, 220, 1400, 600, 1);
        }
        @media (max-width: rem(600)) {
            @include adaptiveValue("height", 590, 290);
            @include adaptiveValue("width", 590, 290);
        }
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100.5%;
        width: 100%;
        object-fit: cover;
    }
    &__form {
        @media (min-width: rem(600)) {
            @include adaptiveValue("max-width", 690, 320, 1400, 600, 1);
        }
    }
}

.form {
    &__title {
        &::first-letter {
            text-transform: uppercase;
        }
        text-transform: none;
        @include adaptiveValue("font-size", 65, 22);
        font-weight: 800;
        line-height: math.div(78, 65);
    }
    &__text {
        font-family: 'Exo 2';
        font-style: normal;
        @include adaptiveValue("font-size", 25, 16);
        line-height: math.div(30, 25);
        color: #606060;
    }
    &__inputs {
        @include adaptiveValue("padding-top", 45, 20);
        @include adaptiveValue("padding-bottom", 40, 15);
    }
    &__input {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 21, 15);
        }
        border: 1px solid #BFBFBF;
        border-radius: 5px;
        @include adaptiveValue("padding-top", 15, 10);
        @include adaptiveValue("padding-bottom", 15, 10);
        @include adaptiveValue("padding-left", 20, 15);
        @include adaptiveValue("padding-right", 20, 15);
        width: 100%;
    }
    &__button {
        background: #0083C8;
        font-family: 'Exo 2';
        font-weight: 700;
        font-size: 24px;
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(29, 24);
        color: #FFFFFF;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background: #07acdf;
            }
        }
    }
}