//====================================================================================================
.test {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 4;
    @include adaptiveValue("bottom", 20, 10);
    @include adaptiveValue("right", 20, 10);
    &__text {
        @media (max-width: $tablet) {
            display: none;
        }
        border-radius: 20px;
        box-shadow: 4px 4px 25px 2px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);
        font-family: 'Exo 2';
        font-weight: 600;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(19, 16);
        padding: 12px 12px 12px 46px;
        margin: 0 0 0 -56px;
    }
    &__image {
        overflow: hidden;
        border-radius: 50%;
        z-index: 2;
        @include adaptiveValue("max-width", 130, 90);
        @include adaptiveValue("max-height", 130, 90);
    }
    &__image img {
        height: 100%;
        width: 100%;
        border-radius: 60%;
    }
}

.header {
    position: relative;
    &__container {
        position: relative;
        z-index: 2;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        max-width: rem(1400);
        width: 100%;
        padding: 0 15px;
        min-height: 114px;
        display: flex;
        align-items: center;
        @media (min-width: $tablet) {
            justify-content: space-between;
        }
    }
    &__info-block {
        color: #0083C8;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include adaptiveValue("gap", 40, 10);
        line-height: 150.9%;
        @include adaptiveValue("font-size", 18, 14);
        @include adaptiveValue("padding-right", 40, 10);
        @media (max-width: $mobile) {
            span {
                display: none;
            }
        }
    }
    &__adress {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 17, 10);
        overflow: hidden;
        position: relative;
        &::before {
            content: '';
            transition: all 0.3s ease 0s;
            position: absolute;
            height: 2px;
            width: 0%;
            background: #07acdf;
            bottom: 0;
            left: 50px;
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #07acdf;
                &::before {
                    width: 90%;
                }
            }
        }
    }
    &__phone {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 17, 10);
        overflow: hidden;
        position: relative;
        &::before {
            content: '';
            transition: all 0.3s ease 0s;
            position: absolute;
            height: 2px;
            width: 0%;
            background: #07acdf;
            bottom: 0;
            left: 50px;
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #07acdf;
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &__menu {
        @media (min-width: $tablet) {
            margin-top: 10px;
            padding-top: 15px;
            border-top: #B5C8D1 1px solid;
            color: #0083C8;
        }
        z-index: 2;
        margin-right: 15px;
        display: flex;
        @include adaptiveValue("font-size", 18, 16);
        letter-spacing: 0.075em;
    }
    &__button {
        position: relative;
        z-index: 5;
        margin: 0 15px 0 0;
        @media (max-width: $tablet) {
            margin: 0 20px 0 auto;
        }
        background: #0083C8;
        @media (max-width: $tablet) {
            background: #0083C8;
        }
        border: 1px solid rgba(255, 255, 255, 0.2);
        @include adaptiveValue("font-size", 22, 18);
        color: #FFFFFF;
        @media (min-width: $mobile) {
            @include adaptiveValue("width", 288, 50);
        }
        @include adaptiveValue("width", 262, 150);
        @include adaptiveValue("height", 57, 50);
        transition: all 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background: #07acdf;
            }
        }
    }
}

.menu {
    &__icon {}
    &__body {
        transition: all 0.5s ease 0s;
        @media (max-width: $tablet) {
            position: absolute;
            right: -100%;
            top: 0;
            width: 30%;
            height: 100%;
            padding: 150px 20px 70px 20px;
            overflow: auto;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.671);
            &::before {
                content: '';
                transition: all 0.5s ease 0s;
                background: rgb(255, 255, 255);
                position: fixed;
                top: 0;
                right: -100%;
                height: 100px;
                width: 30%;
                z-index: 2;
            }
            @media (max-width:$mobile) {
                width: 100%;
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        @include adaptiveValue("font-size", 18, 16, 1440, 992, 1);
        letter-spacing: normal;
        margin-right: rem(10);
        align-items: center;
        @include adaptiveValue("column-gap", 35, 0);
        row-gap: 15px;
        @media (max-width:$tablet) {
            font-size: rem(28);
        }
    }
    &__item {
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: rem(22);
            }
        }
    }
    &__link {
        position: relative;
        &::before {
            content: '';
            transition: all 0.3s ease 0s;
            position: absolute;
            height: 2px;
            width: 0%;
            background: #07acdf;
            bottom: 0;
            left: 0;
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #07acdf;
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

.menu-open {
    .menu {
        &__body {
            top: 0;
            right: 0%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
            height: 100vh;
            &::before {
                right: 0;
                @media (max-width: $mobile) {
                    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

//====================================================================================================
//Burger
.icon-menu {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #000;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before,
            &::after {}
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}