//====================================================================================================
//========================================================================================================================================================
.page {
    &__reglazing {
        @include adaptiveValue("padding-top", 227, 150);
    }
}

//=========reglazing=================================================================================================================================================
.reglazing {
    &__content {
        text-align: center;
        padding: 0 15px;
        max-width: 1110px;
        margin: 0 auto;
        &:last-child {
            @include adaptiveValue("margin-bottom", 100, 40);
        }
    }
    &__title {
        @include adaptiveValue("font-size", 64, 32);
        @include adaptiveValue("padding-bottom", 30, 20);
    }
    &__image {
        position: relative;
        width: 100%;
        @include adaptiveValue("height", 612, 130);
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__rows-reglazing {
        @include adaptiveValue("margin-top", 30, 20);
        text-align: left;
    }
}

.rows-reglazing {
    &__row-reglazing {
        display: flex;
        align-items: flex-start;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
        @include adaptiveValue("gap", 22, 10);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 30);
        }
    }
}

.row-reglazing {
    &__nubmer-block {
        letter-spacing: 0.075em;
        text-transform: uppercase;
        /* Style */
        font-family: 'Exo 2';
        font-weight: 900;
        @include adaptiveValue("font-size", 60, 30);
        line-height: math.div(76, 60);
        /* identical to box height */
        /* blue */
        color: #0083C8;
    }
    &__text-block {
        @include adaptiveValue("font-size", 24, 18);
        line-height: 138%;
        letter-spacing: 0.075em;
    }
}

//====================================================================================================