//====================================================================================================
//========================================================================================================================================================
.page {
    &__use {}
    &__our {}
}

//===USE=====================================================================================================================================================
.use {
    &__container {
        @include adaptiveValue("padding-top", 227, 150);
        @include adaptiveValue("padding-bottom", 127, 0);
    }
    &__head-block {
        text-align: center;
        @media (min-width: em(1380)) {
            margin: 0 50px;
        }
        @media (min-width: em(1380)) {
            @include adaptiveValue("margin-bottom", 110, 35);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: end;
        position: relative;
    }
    &__title {
        font-weight: 900;
        @include adaptiveValue("font-size", 64, 36);
        line-height: 138%;
        @include adaptiveValue("margin-bottom", 18, 15);
    }
    &__text {
        margin: 0 auto;
        @include adaptiveValue("font-size", 35, 28);
        line-height: 138%;
        letter-spacing: 0.075em;
        font-weight: 600;
        color: #606060;
    }
    &__text-two {
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(28, 20);
        letter-spacing: 0.025em;
        color: #606060;
    }
    &__body {
        display: flex;
        flex-direction: column;
        @media (max-width: em(1380)) {
            flex-direction: column-reverse;
        }
        @include adaptiveValue("margin-bottom", 50, 5);
    }
    &__bath {
        @media (max-width: em(1380)) {
            position: relative;
            padding: 0 0 41.1% 0;
            margin: 20px 0;
        }
        @media (min-width: em(1380)) {
            position: absolute;
            top: 0;
            right: -644px;
        }
    }
    @media (max-width: em(1380)) {
        &__bath img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text-block {
        @media (min-width: em(1380)) {
            max-width: 1015px;
        }
        z-index: 2;
    }
    &__sub-title {
        font-family: 'Montserrat';
        font-weight: 600;
        @include adaptiveValue("font-size", 35, 28);
        line-height: math.div(43, 35);
        @include adaptiveValue("margin-bottom", 18, 15);
    }
    &__clean-products {
        @media (min-width: em(1280)) {
            position: absolute;
            bottom: 20px;
            @media (min-width: em(1430)) {
                right: -176px;
            }
            right: -146px;
        }
        @media (max-width: em(1380)) {
            position: relative;
            right: -70%;
            width: 190px;
            height: 190px;
            margin: 20px 0;
        }
    }
    @media (max-width: em(1380)) {
        &__clean-products img {
            position: absolute;
            top: 0;
            right: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//=======OUR=================================================================================================================================================
.our {
    &__container {}
    &__content {
        @include adaptiveValue("padding-bottom", 40, 20);
    }
    &__title {
        @include adaptiveValue("margin-bottom", 20, 15);
        font-family: 'Montserrat';
        font-weight: 600;
        @include adaptiveValue("font-size", 35, 28);
        line-height: math.div(43, 35);
    }
    &__text {
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(28, 20);
        letter-spacing: 0.025em;
        color: #606060;
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }
    &__text p {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 15);
        }
    }
    &__body {
        gap: 34px;
        flex-direction: row-reverse;
        @media (min-width: em(1340)) {
            display: flex;
        }
    }
    &__image {
        position: relative;
        @media (min-width: em(1340)) {
            @include adaptiveValue("margin-left", -250, 0, 1780, 1140, 1);
            padding: 0 42.58% 0% 0;
            max-height: 528px;
            max-width: 536px;
        }
        @media (max-width: em(1340)) {
            padding: 0 0% 50% 0;
        }
        @media (max-width: em(600)) {
            padding: 0 0 100% 0;
        }
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: em(1340)) {
            width: 50%;
            left: 25%;
        }
        @media (max-width: em(600)) {
            width: 100%;
            left: 0;
        }
        height: 100%;
        object-fit: cover;
    }
    &__info {
        max-width: rem(670);
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 20);
        line-height: 138%;
        letter-spacing: 0.075em;
    }
}

//====================================================================================================